name: Compile and Publish TypeScript Package

on:
  push:
    branches:
      - master 
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Beri izin untuk menulis ke GitHub Packages

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Tambahkan langkah untuk setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://npm.pkg.github.com'

      - name: Install dependencies and compile proto
        run: |
          # Perintah untuk menginstall dependencies (jika ada) dan kompilasi proto
          # Contoh:
          npm install
          npm run proto:gen
        
      - name: Publish to GitHub Packages
        run: |
          cd types # Pindah ke direktori paket
          npm publish